<h1>New outdoor</h1>

<%= render 'form' %>


<div style='width: 800px;'>
  <div id="map2" style='width: 800px; height: 400px;'></div>
</div>

<%= javascript_tag do %>
  buildMap(<%= raw  @hash.to_json %>);
<% end %>

<%= link_to 'Back', outdoors_path %>
