<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @physical_profile.cpf %>
</p>

<%= link_to 'Edit', edit_physical_profile_path(@physical_profile) %> |
<%= link_to 'Back', physical_profiles_path %>
