
      <div class="table-responsive">          
      <table class="table table table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Veículo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0001</td>
            <td>Outdoor</td>
          </tr>
          <tr>
            <td>0002</td>
            <td>Outdoor</td>
          </tr>
          <tr>
            <td>0003</td>
            <td>Outdoor</td>
          </tr>
           <tr>
            <td>0004</td>
            <td>Outdoor</td>
          </tr>
          
           <tr>
            <td>0005</td>
            <td>Outdoor</td>
          </tr>
        </tbody>
      </table>
      </div>