<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudança de senha. Você pode fazer isso no link abaixo:</p>

<p><%= link_to 'Mudar minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou essa alteração, por favor ignore este email.</p>
<p>Sua senha não irá mudar enquanto você não criar uma nova.</p>
