<h1>Novo Outdoor</h1>
<hr>

<%= render partial: 'form', locals: {external_url: dashboard_outdoors_path} %>

<%= link_to 'Voltar', dashboard_outdoors_path , :class => "btn btn-default" %>

<%= javascript_tag do %>
  buildNewMap(<%= raw  @hash.to_json %>);
<% end %>